* {
	font-family: Arial;
	margin: 0;
	padding: 0;
}
html {
	background-color: grey;
}
a {
	text-decoration: none;
	color: white;
}
.a1 {
	margin: 0;
	padding: 0;
	color: white;
	float: left;
}

p {
	text-decoration: none;
	color: white;
	font-size: 5px;
	font-weight: 300;
}
header {
	background-color: red;
	width: 100%;
	display: inline-block;
}
.menu {
	float: right;
}
.menu li {
	display: inline-block;
}
.menu li a {
	color: white;
	font-size: 16px;
	font-weight: 300;
	padding: 12px 18px;
	display: inline-block;
}
.menu li a:hover {
	background-color: #5fabe0;
}
.kutu {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
.logo {
	font-size: 14px;
	font-weight: 400;
	color: white;
	padding: 5px 10px;
	display: inline-block;
}
.logo:hover {
	background-color: #5fabe0;
}
main {
	padding: 30px 15px;
	min-height: 770px;
	background-color: white;
}
h1 {
	text-align: center;
	font-size: 36px;
	margin-top: 15px;
	margin-bottom: 30px;
}
h2 {
	margin-top: 15px;
}
p1 {
	margin-top: 15px;
	text-align: center;
}
.foto {
	float: left;
	margin: 0px 15px 15px 0;
	padding: 5px;
	background: #f7f5ed;
	border: 1px solid #cccabc;
	border-radius: 2px;
	width: calc(100% - 15px);
	max-width: 400px;
}
footer {
	width: 100%;
	display: inline-block;
}
footer .menu {
	float: none;
	text-align: center;
	margin-top: 10px;
}
footer .menu li a {
	padding: 6px;
	margin: 6px;
}
footer .menu li a:hover {
	background-color: grey;
	text-decoration: underline;
}
.copyright {
	font-size: 14px;
	color: #c5def4;
	text-align: center;
	margin: 5px 0;
}
.sola-kaydir {
	float: left;
	padding: 0 10px 10px 0;
}
.saga-kaydir {
	float: right;
	padding: 0 10px 10px 0;
}



* {
	box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
	max-width: 300px;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
	background-color: red;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: red;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
	color: red;
	font-size: 10px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: red;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
* {
	box-sizing: border-box;
}
form.example input[type="text"] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #2196f3;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}

form.example button:hover {
	background: #0b7dda;
}

form.example::after {
	content: "";
	clear: both;
	display: table;
}
.sidenav {
	width: 300px;
	position: absolute;
	z-index: 1;
	top: 250px;
	left: 70px;
	background:white;
	overflow-x: hidden;
	padding: 7px 0;
}

.sidenav a {
	padding: 6px 8px 6px 50px;
	text-decoration: none;
	font-size: 25px;
	color: black;
	display: block;
}

.sidenav a:hover {
	color: red;
}

.main {
	margin-left: 140px; /* Same width as the sidebar + left position in px */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
button {
	width: 150px;
	background-color: red;
	color: #f1f1f1;
}
.p2 {
	color: black;
}
 
.triangle{
    width:0px;
    height:0px;
}
.right{
    border-left:8px solid grey;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    
}
i.deneme{

    word-spacing: 14px; /* Yazi arası boşluk miktarı.*/

    
    }
  

.hnYHyk {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.hUmHQV {
    display: inline-block;
    position: relative;
    cursor: default;
    padding: 0px 20px 5px 5px;
}
.footer__wrapper--mediumTitle {
    font-weight: 600;
    font-size: 16px;
}
 .footer__wrapper__secure_payment {
    height: 100px;
}
.troy-img {
    background: url(https://cdn.dsmcdn.com/frontend/web/assets/images/troy-logo-transparent.png) no-repeat;
    display: inline-block;
    width: 56px;
    height: 26px;
    margin-right: 18px;
    background-size: cover;
}
 .security-img {
    background: url(https://cdn.dsmcdn.com/frontend/web/assets/images/security-icon.png) no-repeat center left;
    width: 120px;
    height: 24px;
    display: inline-block;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
.app {
   
     width: 45%;
     max-width: 160px;
     color: #fff;
     margin: 20px 10px;
     text-align: left;
     border-radius: 5px;
     text-decoration: none;
     font-family: "Lucida Grande", sans-serif;
     font-size: 10px;
     text-transform: uppercase;
    }

     .blu {
      background-color:black;
      transition: background-color 0.40s linear;
     }
      
     
    
     .big-txt {
      font-size: 17px;
      text-transform: capitalize;
    }
 body {
	margin:0;
	padding:0
}

@media only screen and (min-width:960px) {
	
.ornek1 {
	width:500px;
	height:400px;
	background:#666;
	color:#fff;
	font-family: Arial;
	margin:0 auto;
	margin-top:30px;
	padding:20px
}

}

@media only screen and (min-width:769px) and (max-width:959px) {
	
.ornek1 {
	width:700px;
	background:yellow;
	color:#fff;
	font-family: Arial;
	margin:20px;
	padding:20px
}

}

@media only screen and (max-width:768px) {
	
.ornek1 {
	background:red;
	color:#fff;
	font-family: Arial;
	margin:20px;
	padding:20px
}

}


   